body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}
.fluid{
    background-color: white;
}
.name h2{
    font-weight: 700;
    color: blue;
    display: flex;
}
.clsimg{
    display: flex;
}